body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

header {
    color: white;
}

header #imgAndTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    gap: 1.5rem;
}

header #imgAndTitle img {
    max-width: 200px;
    border-radius: 50%;
}

header #imgAndTitle h1 {
    font-size: xx-large;
    font-weight: 600;
}

header nav {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-width: 1px;
    border-top-style: solid;
    border-top-color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    font-weight: 700;
}

header nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
    color: white;
}

header nav a:hover {
    flex: 1.5;
    background: #999;
}

main {
    /* may need to change this */
    max-width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

main #mainVideo {
    /* may need to change this */
    /*position: fixed;
    right: 0;
    bottom: 0;*/
    width: 100%; 
    height: 100%;
    position: relative; /* absolute and fixed puts it over everything while relative contains it in the main-container */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;

    display: flex;
}

main .knowledgeSection {
    /* may need to change this */
    position: absolute;
    top: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex-direction: column;
}

.knowledgeSection h1 {
    font-size:6rem;
}

.skillsStuff {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 3.5rem;
}

#footer {
    position: relative;
}