body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

header {
    color: white;
}

header nav {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-width: 1px;
    border-top-style: solid;
    border-top-color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    font-weight: 700;
}

header nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
    color: white;
}

header nav a:hover {
    flex: 1.5;
    background: #999;
}